/* Core base styles and imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* HTML base styles */
html {
  scroll-behavior: smooth;
  height: 100%;
}

/* Base layer styles */
@layer base {
  body {
    @apply bg-background text-foreground;
    height: 100%;
  }
}